.action-menus {
  position: absolute;
  background: $main-orange;
  right: 0;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 10%;

  &__menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    fill: white;

    &__item {
      cursor: pointer;
      display: flex;
      transition: 0.3s ease-in-out all;
      width: 50px;
      height: 50px;
      margin: 15px 0;

      &:hover {
        animation: pulse 0.5s ease-in-out infinite;
      }
    }

    &__arrow-icon {
      position: absolute;
      right: 5%;
      top: 5%;
      z-index: 99;
      transform: rotate(180deg);
    }
  }

  .action-menus-hidden {
    background-color: transparent;
  }


  .close-icon {
    position: absolute;
    right: 4%;
    top: 5%;
    z-index: 99;
    display: none;
  }

  .btn-logout {
    position: relative;
    bottom: -5%;

    @media screen and (max-width: 1000px) {
      bottom: -10%;
    }
  }

  .pixel-war-logo {
    width: 100%;
    position: relative;
    top: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu {
    width: 50px;
    height: 50px;
  }

  .hide {
    display: none;
  }

  .safari-menu {
    margin: 10px
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@media (max-width: 1000px) {
  .action-menus {
    width: 20vw;
    height: 100vh;
  }

  .action-menus__menu {
    flex-direction: column;
    width: 100%;
    right: 15px;
  }

  .action-menus__menu__item_2,
  .btn-logout {
    display: none;
  }

  .action-menus__menu__item {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
  }

  .action-menus__menu__item:hover,
  .action-menus__menu__item>*:hover {
    animation: none;
  }

  .action-menus__menu__item__opened {
    position: relative;
    z-index: 11;
  }

  .menu {
    width: 100%;
  }

  .close-icon {
    display: block;
    position: absolute;
    top: 25px;
    z-index: 99;
  }

  .action-menus__arrow-icon {
    position: absolute;
    transform: rotate(180deg);
    top: 40px;
    right: 40px;
  }

  .header-logo {
    display: none;
  }
}

@media (max-width: 1000px) {
  .close-icon {
    right: 4%;
  }
}