.c-progressbar {

    &__totalcoins {
        position: absolute;
        top: 10%;
        left: 35px;
        cursor: pointer;

        &__container {
            background-color: white;
            padding: 10px;
            border: solid 3px #FFCC66;
            border-radius: 5px;

            span {
                font-family: $Unibody-bold;
            }
        }
    }

    &__coins {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFCC66;
        font-family: $Unibody-bold;
        font-size: 16px;
        font-weight: 900;
        line-height: 31px;
        gap: 10px;

        img {
            width: 24px;
            height: 24px;
        }
    }

    &__bar {
        height: 50vh;
        width: 34px;
        background-color: #180F24;
        display: flex;
        align-items: center;
        margin-left: 30px;
        border: none;
        flex-direction: column;
        justify-content: end;
        border-left: 4px solid #FFCC66;
        border-right: 4px solid #FFCC66;
    }

    &__barTop3 {
        width: 27px;
        height: 15px;
        background-color: #180F24;
        border-left: 4px solid #FFCC66;
        border-right: 4px solid #FFCC66;
        margin-left: 33px;
    }

    &__barTop2 {
        width: 18px;
        height: 15px;
        background-color: #180F24;
        border-left: 4px solid #FFCC66;
        border-right: 4px solid #FFCC66;
        margin-left: 38px;
    }

    &__barTop1 {
        width: 10px;
        height: 15px;
        background-color: #180F24;
        border-top: 4px solid #FFCC66;
        border-left: 4px solid #FFCC66;
        border-right: 4px solid #FFCC66;
        margin-left: 42px;
    }

    &__barBottom1 {
        width: 27px;
        height: 15px;
        background-color: #FFCC66;
        border-left: 4px solid #FFCC66;
        border-right: 4px solid #FFCC66;
        margin-left: 33px;
    }

    &__barBottom2 {
        width: 18px;
        height: 15px;
        background-color: #FFCC66;
        border-right: 3px solid #FFCC66;
        border-left: 3px solid #FFCC66;
        margin-left: 38px;
    }

    &__barBottom3 {
        width: 10px;
        height: 15px;
        background-color: #FFCC66;
        background-color: #FFCC66;
        border-left: 4px solid #FFCC66;
        border-right: 4px solid #FFCC66;
        margin-left: 42px;
    }

    &__fill {
        width: 100%;
        background-color: #FFCC66;
        display: flex;
    }

    &__popup {

        position: relative;
        left: 15px;
        margin-top: 10px;
        animation: coinAnim 1s ease-in forwards;
    }

    &__allbar {
        position: absolute;
        top: 50%;
        left: 30px;
        transform: translateY(-50%);
    }

    &__concours {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: url("../../assets/images/concours.png");
        width: 706px;
        height: 178px;
        display: flex;
        align-items: center;
        padding: 0 81px;

        &__trophy {
            width: 48px;
            height: 48px;
        }
    }

    &__p {
        font-size: 24px;
        font-weight: 900;
        line-height: 36px;
        letter-spacing: 0px;
        text-align: center;
        color: #FFCC66;
        padding-left: 14px;
    }
}

@media (max-width: 600px) {
    .c-progressbar__totalcoins {
        left: 10px;

        span{
            font-size: 12px;
        }
    }

    .c-progressbar__allbar {
        left: 0;
    }
}

@keyframes coinAnim {
    from {
        transform: rotateY(0deg);
        opacity: 1;
    }

    to {
        transform: rotateY(1280deg);
        opacity: 0;
    }
}